!!! html
%html
  %head
    %title Depot
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{class: controller.controller_name}
    #banner
      = image_tag('logo.png')
      = @page_title || "Pragmatic Bookshelf"
    #columns
      #side
        #cart
          = render @cart

        %p.time= Time.now.strftime('%B %d, %Y %I:%M:%S%p')
        %ul
          %li= link_to "Home", "#"
          %li= link_to "Questions", "#questions"
          %li= link_to "News", "#news"
          %li= link_to "Contact", "#contact"
    #main
      = yield